.conteiner-interior {
    background-color: #633333;
    font-family: 'Poppins', sans-serif;
}
.texto-interior {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}
.titulo-secundario {
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
}
.article-texto {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
}
.img-interioad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}