.section-externo {
    background-color: #633333;
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: repeat(3,1fr);
    height: 2350px;
}
.texto-externo {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.img-ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-top: 1rem;
}
.img-posterior {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
}