.conteiner-interior {
    background-color: #633333;
    font-family: 'Poppins', sans-serif;
}
.texto-interior {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}
.titulo-secundario {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: bold;
}
.article-texto {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
}
.img-interioad {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}